<div class="col-xs-6">
  <div class="post-item">
    <h4>
      <%= post.content %>

      &nbsp

      <span class="like-and-count">
        <% liked = Like.find_by( post: post, user: current_user ) != nil %>
        <% btn_color = liked ? "warning" : "default" %>
        <% action = liked ? :destroy : :create %>

        <%= link_to "like", post_likes_path( post ), method: :post, class: "btn btn-#{btn_color} btn-xs", disabled: cannot?(action, Like) %>

        &nbsp

        <%= post.likes.count %>
      </span>
    </h4>

    <em class="post-user">
      <%= link_to post.user.handle, user_posts_path( post.user ) %>
    </em>
  </div>
</div>
