// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-item {
  padding-right: 5px;
  border-right: 5px solid rgba(178, 71, 3, 0.95);
  transition: all 300ms ease-in;

  &:hover {
    border-right: 50px solid rgba(255, 133, 55, 0.95);
    transition: all 300ms ease-in;
  }
}

.post-user {
  a {
    color: rgba(178, 71, 3, 0.95);
    &:hover {
      color: rgba(255, 133, 55, 0.95);
    }
  }

}
